<!-- Text input-->
<div class="form-group<% if(required) {%> required<% } %>">
	<label class="control-label" for="<%= id %>"><%= label %></label>
	<input id="<%= id %>" name="<%= id %>" value="{<%= id %>}" type="text" placeholder="<%= placeholder %>" class="form-control <%= inputheight %>" <% if(required) {%> required <% } %> />
</div>
