<!-- Checkbox -->
<div class="form-group<% if(required) {%> required<% } %>">
	<div class="checkbox">
		<input type="hidden" name="<%= id %>" value="0">
		<label class="control-label" for="<%= id %>">
			<input type="checkbox" name="<%= id %>" id="<%= id %>" data-checkbox="<%= id %>" value="1" <% if(required) {%> required <% } %> >
			<%= label %>
		</label>
	</div>
</div>