<!-- Select Basic -->
<div class="form-group<% if(required) {%> required<% } %>">
	<label  class="control-label" for="<%= id %>"><%= label %></label>
	<select id="<%= id %>" name="<%= id %>" class="form-control <%= inputheight %>" <% if(required) {%> required <% } %> >
		<option></option>
		<% _.each(options, function(option) { %><option data-select="<%= id %>"><%= option %></option><% }); %>
	</select>
</div>
