<!-- Textarea -->
<div class="form-group<% if(required) {%> required<% } %>">
	<label class="control-label" for="<%= id %>"><%= label %></label>
	<textarea id="<%= id %>" name="<%= id %>" placeholder="<%= placeholder %>" <% if(required) {%> required <% } %> class="form-control <%= inputheight %>">{<%= id %>}</textarea>
</div>
