* html input{overflow: visible;}/* ie6*/
* html *{zoom: 1;}/* ie6*/
*+html input{overflow: visible;}/* ie7*/
*+html a *{cursor: pointer;}
*+html .pie, *+html .clear, *+html #footer{zoom: 1;}
*+html .clearfix{position: relative; zoom: 1;}
.header-nav-item{
    float: left;
    margin-right: 10px;
}
.header-nav-list{
    overflow: hidden;
}

