/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;-moz-box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-webkit-appearance:textfield}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}p{margin:0 0 10px}ul,ol{margin:10px 0}
/* Template styles
==============================================================================*/
html, body {
    font: 14px/1.428571429 'Roboto', Arial, sans-serif;
    height:100%;
    width:100%;
    color: #2b2b2b;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 1000px;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face{
    font-family: 'rouble';
    src: url('../fonts/RUBSN.eot');
    src: local('rouble');
    src: url('../fonts/RUBSN.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RUBSN.woff') format('woff'),
    url('../fonts/RUBSN.ttf') format('truetype'),
    url('../fonts/RUBSN.svg#rouble') format('svg');
    font-weight: normal;
    font-style: normal;
}
.rouble{
    font-family: 'rouble', sans-serif;
    text-transform: lowercase;
    line-height: 1em;
}
.rouble:after{
    content: "о";
    font-family: 'rouble', sans-serif;
}
/* H Group
-----------------------------------------------------------*/
h1,.h1 {
    font-weight: bold;
    font-size:1.8em;margin: 25px 0 15px;
}
h2,.h2 {
    font-weight: bold;
    font-size:1.5em;margin: 25px 0 15px;
}
h3,.h3 {
    font-weight: bold;
    font-size:1.5em;margin: 25px 0 15px;
}
h4, h5, h6, .h4, .h5, .h6 {
    font-weight: bold;
    font-size: 1.2em;margin: 25px 0 15px;
}
/* Links
-----------------------------------------------------------*/
a{
    color:#1e81b6;
    text-decoration:underline;
}
a:visited{}
a:hover{
    text-decoration:none;
}
a:active{}
a:focus{outline: none;}
html:not(.desktop) a[href^=tel]{
    text-decoration: underline;
    color: inherit;
}
/* Form tags styles
-----------------------------------------------------------*/
input[type=text],input[type=search],input[type=tel],input[type=email],input[type=password],
textarea,
select {
    position: relative;
    font: 14px 'Roboto', Arial, sans-serif;
    outline: none;
    padding: 4px;
    border: 1px solid #ccc;
    color: black;
    vertical-align: middle;
    overflow: hidden;
    background: #fff;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
textarea{
    overflow: auto;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
    color: #aaaaaa; }
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
    color: #aaaaaa;  }
input:-moz-placeholder,
textarea:-moz-placeholder,
select:-moz-placeholder {
    color: #aaaaaa;opacity: 1;  }
input::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder {
    color: #aaaaaa;opacity: 1;  }
input.placeholder,
textarea.placeholder,
select.placeholder {
    color: #aaaaaa; }
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder,
select:focus:-moz-placeholder {
    color: transparent !important; }
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder,
select:focus::-moz-placeholder {
    color: transparent !important; }
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder,
select:focus:-ms-input-placeholder {
    color: transparent !important; }
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder,
select:focus::-webkit-input-placeholder {
    color: transparent !important; }
input.placeholder:focus,
textarea.placeholder:focus,
select.placeholder:focus {
    color: transparent !important; }
input[type=text]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=email]:focus,input[type=password]:focus,
textarea:focus,
select:focus {
    color: black;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }
select {
    padding: 0; }
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    position: relative;
    text-decoration: none;
    outline: none;
    padding: 4px 8px;
    border: 1px solid #ccc;
    font: 14px 'Roboto', Arial, sans-serif;
    display: inline-block; }
.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {}
/* Meta classes
-----------------------------------------------------------*/
.reset{
    margin: 0;
    padding: 0;
    list-style: none;
}
.hidden {
    display: none; }
.show {
    display: block !important; }
.visible {
    visibility: visible !important; }
.no-margin {
    margin: 0 !important; }
.no-padding {
    padding: 0 !important; }
.no-bg {
    background: none !important; }
.no-border {
    border: none !important; }
.bold {
    font-weight: 700; }
.italic {
    font-style: italic; }
.underline {
    text-decoration: underline; }
.uppercase {
    text-transform: uppercase; }
.lowercase {
    text-transform: lowercase; }
.disabled {
    cursor: default !important;
    opacity: .3;
    filter: alpha(opacity=30); }
.error {
    color: red !important; }
input.error {
    outline: 1px solid red !important;
    outline-offset: -1px; }
.va-top {
    vertical-align: top !important; }
.red {
    color: red; }
.blue {
    color: blue; }
.yellow {
    color: yellow; }
.green {
    color: green; }
.gray {
    color: gray; }
.orange {
    color: #f59416; }
.f-left, .float-left, .left {
    position: relative;
    float: left; }
.f-right, .float-right, .right {
    position: relative;
    float: right; }
.f-center, .float-center {
    position: relative;
    float: none;
    margin: 0 auto;
    padding: 0 10px;
    width: 980px; }
.t-center, .text-center {
    text-align: center; }
.t-left, .text-left {
    text-align: left; }
.t-right, .text-right {
    text-align: right; }
.t-justify, .text-justify {
    text-align: justify; }
.col {
    position: relative;
    margin: 0 0 15px;
    padding: 0;zoom: 1; }
.pic-default{
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAjAgMAAACbV6A9AAAADFBMVEUAAAAAAAAAAAAAAAA16TeWAAAABHRSTlMNAAUJRVLypgAAAMxJREFUGNNdz7HNwjAQBeD3x/oLCkTFCB4hDRWCBdK8JIgULpFowgYWO9wcMIKX8AgUdAxAQThfGl7jrzi9O4NkD/jp+TIAC2MEqsIWU0TZAzqMIywPjDOXiDMrpJkOP3meyqv9UaFbg7Fm+zKuOcCSOW7OhcIkHAu7pR0F6f/tVOTBXwYmbWhyCj5qbxDAb3VbkC2yVrggTWVtLwnOCEnwI5ISd79H1LpdI9fy4/rQ8g9HO75bgFPaihxqJeODMRcG93Ys7KZxI28r4Qc6l0eAD7DptgAAAABJRU5ErkJggg==');
    min-height: 35px;
    min-width: 40px;
}
.col:after, .f-row:after, .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    zoom: 1;}
/* Grid system
-----------------------------------------------------------*/
.f-row{
    margin: 0 -15px 15px;
    padding: 0;zoom: 1;
}
.f-row-item{
    float: left;
    margin-bottom: 16px;
    padding: 0 15px;
}
.w-10 {
    width: 10%; }
.w-15 {
    width: 15%; }
.w-20 {
    width: 20%; }
.w-25 {
    width: 25%; }
.w-30 {
    width: 30%; }
.w-33 {
    width: 33.3333%; }
.w-35 {
    width: 35%; }
.w-40 {
    width: 40%; }
.w-45 {
    width: 45%; }
.w-50 {
    width: 50%; }
.w-60 {
    width: 60%; }
.w-66 {
    width: 66.6667%; }
.w-70 {
    width: 70%; }
.w-75 {
    width: 75%; }
.w-80 {
    width: 80%; }
.w-85 {
    width: 85%; }
.w-90 {
    width: 90%; }
.full-width, .w-100 {
    width: 100%; }
/* Wrapper
-----------------------------------------------------------*/
#wrapper,#header,#content,#footer,.pie{position:relative}
#wrapper{
    min-height:100%;
    height: auto !important;
    height:100%;
    margin:0 auto;
}
/* Header
-----------------------------------------------------------*/
#header{
    margin-bottom: 26px;
}
.header-center{
    position: relative;
    width: 1180px;
    margin: 0 auto;
    padding: 20px 0;
}
/* Container
-----------------------------------------------------------*/
#content{
    padding:0 0 100px;
    zoom: 1;
    border-bottom: 19px solid transparent;
}
#content:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.columns{
    position: relative;
    width: 1180px;
    margin: 0 auto;
}
.center{
    position: relative;
    width: 1180px;
    margin: 0 auto;
}
.columns-main{
    float:left;
    width:100%;
    position: relative;
}
.columns-main-content{
    margin: 0 260px;
    position: relative;
}
/* Sidebar
-----------------------------------------------------------*/
.columns-left{
    width:250px;
    margin-left:-100%;
    float:left;
    background:#808080;
    position: relative;
}
.columns-right{
    width:250px;
    margin-left: -254px;
    float:right;
    background:#808040;
    position: relative;
}
/* Footer
-----------------------------------------------------------*/
#footer{
    height:100px;
    margin:-100px auto 0;
    clear:both;
    background: #f7f7f7;
}
.footer-center{
    position: relative;
    width: 1180px;
    margin: 0 auto;
    padding: 33px 0;
}
/* Style guide
-----------------------------------------------------------*/
.pic.f-left{
    margin: 4px 15px 10px 0
}
.pic.f-right{
    margin: 4px 0 10px 15px
}
.table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: left
}
.table > thead > tr > th{
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    text-align: left
}
.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th{
    border-top: 0
}
.fotorama, .fotorama *{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}
.note{
    border-left: 5px solid #ccc;
    margin-right: 100px;
    padding: 5px 0 5px 15px
}
.link-underline-dashed{
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px dashed #000
}
.link-underline-dashed:hover{
    text-decoration: none;
    border-bottom-color: transparent
}
.hint{
    display: inline-block;
    position: relative;
    text-decoration: none;
    border-bottom: 1px dotted #a1a092;
    line-height: 13px;
    cursor: pointer
}
abbr{
    font-weight: 700;
    font-style: normal
}
.hint-body{
    background: none repeat scroll 0 0 #FFF;
    border-radius: 6px;
    bottom: 100%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    display: block;
    font-size: 12px;
    left: 50%;
    line-height: 14px;
    margin-bottom: 16px;
    margin-left: -71px;
    padding: 11px 11px 8px;
    position: absolute;
    width: 142px;
    z-index: 1;
    font-weight: 400;
    cursor: default;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}
.hint-body:after{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    top: 100%;
    left: 50%;
    content: "";
    margin-left: -6px;
    margin-top: 0
}
.hint-body--w{
    margin-left: -142px;
    width: 284px
}
.hint:hover .hint-body{
    visibility: visible;
    opacity: 1;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    margin-bottom: 6px
}
.hint-body-head{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 7px;
    display: block
}
.hint-body-p{
    display: block
}
.blockquote{
    padding: 5px 15px;
    margin: 15px 0;
    border-left: 5px solid #eee
}
.blockquote .small, .blockquote footer, .blockquote small{
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777
}
.blockquote p{
    margin: 0 0 10px
}
.blockquote p:after{
    content: "»"
}
.blockquote p:before{
    content: "«"
}
.incut{
    background: none repeat scroll 0 0 #fefefe;
    font-size: 1.5em;
    line-height: 1.2;
    margin: 20px 0;
    padding: 15px 20px;
    border: 1px solid #ccc
}
.tabs{
    margin: 15px 0
}
.tabs-menu{
    position: relative
}
.tabs-menu-item{
    border: 1px solid #ccc;
    border-bottom: 0;
    position: relative;
    float: left;
    padding: 5px 15px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    margin-right: 5px;
    cursor: pointer;
    background: #fafafa
}
.tabs-content{
    border: 1px solid #ccc;
    padding: 15px;
    -webkit-border-radius: 0 4px 4px 4px;
    -moz-border-radius: 0 4px 4px;
    border-radius: 0 4px 4px 4px
}
.tabs-content > div{
    display: none
}
.tabs-content > div.active{
    display: block
}
.tabs-menu-item.active{
    background: none repeat scroll 0 0 #fff;
    margin-bottom: 0;
    margin-top: -6px;
    padding: 8px 20px;
    top: 1px;
    cursor: default;
}
.guide-menu{
    position: fixed;
    left: 0;
    background: #fff
}
.guide-menu-item-link{
    color: #666;
    text-decoration: none;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    display: inline-block;
    background: none repeat scroll 0 0 #eee;
    padding: 2px 6px
}
.guide-menu-item-link:hover{
    text-decoration: none;
    color: #000;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    margin-left: 5px;
    margin-right: -5px
}
.guide-menu-item{
    padding: 4px 0 4px 3px;
    width: 200px;
    line-height: 16px;
    border-bottom: 1px solid #eee
}
.guide-menu-item:last-child{
    border-bottom: 0
}
@media only screen and (max-width: 1400px), only screen and (max-device-width: 1400px){
    .guide-menu{
        position: static;
        top: 0;
        left: 0;
        margin: 15px 0
    }

    .guide-menu-item{
        padding: 0;
        display: inline-block;
        border: 0;
        margin-right: 15px;
        margin-bottom: 5px;
        width: auto
    }

    .guide-menu-item-link{
        display: inline
    }

    .guide-menu-item-link:hover{
        margin: 0
    }
}
.guide-menu-item:first-child{
    border-top: 0
}
.feedback{
    margin: 20px 0;
}
.feedback-item{
    margin-bottom: 15px;
}
.feedback-item-left{
    position: relative;
    float: left;
    width: 145px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding-top: 6px;
    text-align: right;
}
.feedback-item-right{
    margin-left: 166px;
}
input.input-text,.input-text{
    padding: 11px;
    border: 1px solid #e4e4e4;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    width: 100%;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) inset;
    background: #fff;
    font-size: 14px;
}
input.input-text.input-text--error,.input-text.input-text--error{
    border-color: red;
}
textarea.input-text{
    resize: none;
    height: auto;
}
/*stylized-switch*/
.switch{
    position: relative;
    display: inline-block;
    height: 15px;
    width: 15px;
    vertical-align: middle;
    cursor: pointer;
    top: -1px;
    margin-right: 3px;
}
.switch input{
    vertical-align: middle;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
}
.switch input:not(:checked),.switch input:checked{
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 1;
    cursor: pointer;
}
/*not checked radio*/
.switch input[type=radio]:not(:checked)+i,.switch input[type=radio]:checked+i{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    border-radius: 30px 30px 30px 30px;
}
/*not checked checkbox*/
.switch input[type=checkbox]:not(:checked)+i,.switch input[type=checkbox]:checked+i{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #ccc;
}
/*checked radio*/
.switch input[type=radio]:checked+i{
    background: #ccc;
    -webkit-box-shadow: 0 0 0 3px #fff inset;
    -moz-box-shadow:0 0 0 3px #fff inset;
    box-shadow: 0 0 0 3px #fff inset;
}
/*checked checkbox*/
.switch input[type=checkbox]:checked+i{
    background: #ccc;
    -webkit-box-shadow: 0 0 0 2px #fff inset;
    -moz-box-shadow:0 0 0 2px #fff inset;
    box-shadow: 0 0 0 2px #fff inset;
}
/*hover radio*/
.switch input[type=radio]:checked+i:hover,label:hover .switch input[type=radio]:checked+i{
    opacity: 0.85;
}
.switch  input[type=radio]+i:hover, label:hover .switch  input[type=radio]+i{
    opacity: 0.85;
}
/*hover checkbox*/
.switch input[type=checkbox]:checked+i:hover,label:hover .switch input[type=checkbox]:checked+i{
    opacity: 0.85;
}
.switch  input[type=checkbox]+i:hover, label:hover .switch  input[type=checkbox]+i{
    opacity: 0.85;
}
/*end stylized-switch*/
.up-btn{
    position: fixed;
    z-index: 1;
    right: 15px;
    bottom:15px;
    cursor: pointer;
    background: #eee;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.up-btn:hover{
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.up-btn:after{
    content: "▲";
    font-size: 32px;
    display: inline-block;
    vertical-align: middle;
    color: #ccc;
}
/* Page styles
==============================================================================*/
.breadcrumbs{
    color: #2b2b2b;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 16px;
}
.breadcrumbs a{
    color: #858585;
}
.breadcrumbs i{
    font-style: normal;
    margin: 0 3px;
}
.header-left{
    position: relative;
    float: left;
    margin-right: 0;
    width: 160px;
}
.header-logo{
    margin-bottom: 4px;
    margin-top: -2px;
    width: 109px;
}
.header-logo img{
    vertical-align: middle;
    max-width: 100%;
}
.header-city{
    position: relative;
    padding-left: 20px;
    line-height: 16px;
    display: inline-block;
    padding-bottom: 12px;
}
.header-city-ico{
    float: left;
    margin-left: -20px;
    margin-top: 2px;
}
.header-city-btn{
    cursor: pointer;
    text-decoration: none;
    color: #1e81b6;
    font-size: 12px;
    border-bottom:1px dotted #1e81b6;
}
.header-city-btn:hover{
    text-decoration: none;
    border-bottom-color: transparent;
}
.drop{
    z-index:200;
    position: absolute;
    top: 100%;
    left: 0px;
    background: #fff;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    padding: 18px;
    width: 280px;
}
.drop:before{
    content: '';
    position: absolute;
    top: -9px;
    left: 19px;
    background: url("../img/sprite.png") no-repeat -58px -248px;
    width: 16px;
    height: 10px;
    z-index: 1;
}
.drop:after{
    content: '';
    position: absolute;
    top: -1px;
    left: 16px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.34);
    width: 21px;
    height: 1px;
}
.header-city-head{
    margin-bottom: 18px;
    text-align: center;
    color: #000;
}
.drop--padding{
    padding-top: 16px;
    padding-bottom: 20px;
}
.btn{
    position: relative;
    display: inline-block;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    line-height: 17px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    padding: 7px 8px;
    font-size: 14px;
    background: #f7a414; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7a414 0%, #f2731a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f7a414 0%,#f2731a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f7a414 0%,#f2731a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    min-width: 56px;
    text-align: center;
    vertical-align: middle;
}
.btn:hover{
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.btn:active{
    top: 1px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.btn--grey{
    background: #dbdbdb;
    color: #6a6a6a;
}
.header-city-btns .btn{
    margin: 0 4px;
}
.drop-hover:hover .drop{
    display: block;
}
.popup{
    position: fixed;
    z-index:2000;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    padding: 23px 30px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    top: 15px;
    left: 15px;
    background: #fff;
}
.popup-head{
    margin-bottom: 22px;
    text-align: center;
    color: #3a3a3a;
    font-size: 24px;
}
.popup-close{
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 21px;
    height: 21px;
    line-height: 19px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    background: #e9e9e9;
    text-align: center;
}
.city-menu{
    width: 560px;
}
.city-list-item{
    margin-bottom: 5px;
    margin-left: 19px;
}
.city-list-link{
    color: #1e81b6;
    text-decoration: none;
    cursor: pointer;
}
.city-list-link:hover{
    text-decoration: underline;
}
.city-menu-body{
    margin-right: -25px;
}
.city-menu-form{

}
.city-menu-form-item{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.city-menu-form-item:last-child{
    margin-right: 0;
}
.jq-selectbox {
	vertical-align: middle;
	cursor: pointer;
}
.jq-selectbox__select {
	height: 31px;
	padding: 0 25px 0 10px;
	border: 1px solid #e4e4e4;
	border-radius: 3px;
	background: #fff;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
    font-size: 14px;
    line-height: 29px;
	color: #2b2b2b;
    width: 220px;
}
.jq-selectbox__select:hover {
	background: #E6E6E6;
	background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
	background:         linear-gradient(#F6F6F6, #E6E6E6);
}
.jq-selectbox__select:active {
	background: #F5F5F5;
	box-shadow: inset 1px 1px 3px #DDD;
}
.jq-selectbox.focused .jq-selectbox__select {
	border: 1px solid #5794BF;
}
.jq-selectbox.disabled .jq-selectbox__select {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}
.jq-selectbox__select-text {
	display: block;
	overflow: hidden;
    width: 100% !important;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.jq-selectbox .placeholder {
	color: #888;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 100%;
}
.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 50%;
	right: 10px;
    width: 14px;
    height: 8px;
    background: url("../img/sprite.png") no-repeat -70px -277px;
    margin-top: -4px;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
	border-top-color: #000;
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
	border-top-color: #AAA;
}
.jq-selectbox__dropdown {
	box-sizing: border-box;
    width: 100% !important;
	margin: 2px 0 0;
	padding: 0;
	border: 1px solid #CCC;
	border-radius: 4px;
	background: #FFF;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	font: 14px/18px Arial, sans-serif;
}
.jq-selectbox__search {
	margin: 5px;
}
.jq-selectbox__search input {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 5px 27px 6px 8px;
	border: 1px solid #CCC;
	border-radius: 3px;
	outline: none;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%;
	box-shadow: inset 1px 1px #F1F1F1;
	color: #333;
	-webkit-appearance: textfield;
}
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.jq-selectbox__not-found {
	margin: 5px;
	padding: 5px 8px 6px;
	background: #F0F0F0;
	font-size: 13px;
}
.jq-selectbox ul {
	margin: 0;
	padding: 0;
}
.jq-selectbox li {
	min-height: 18px;
	padding: 5px 10px 6px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
    color: #231F20;
}
.jq-selectbox li.selected {
	background-color: #A3ABB1;
	color: #FFF;
}
.jq-selectbox li:hover {
	background-color: #08C;
	color: #FFF;
}
.jq-selectbox li.disabled {
	color: #AAA;
}
.jq-selectbox li.disabled:hover {
	background: none;
}
.jq-selectbox li.optgroup {
	font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.jq-selectbox li.option {
	padding-left: 25px;
}


.jq-select-multiple {
	box-sizing: border-box;
	padding: 1px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	background: #FFF;
	box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
    font-size: 14px;
    line-height: 18px;
	color: #333;
	cursor: default;
}
.jq-select-multiple.focused {
	border: 1px solid #5794BF;
}
.jq-select-multiple.disabled {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}
.jq-select-multiple ul {
	margin: 0;
	padding: 0;
}
.jq-select-multiple li {
	padding: 3px 9px 4px;
	list-style: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	white-space: nowrap;
}
.jq-select-multiple li:first-child {
	border-radius: 3px 3px 0 0;
}
.jq-select-multiple li:last-child {
	border-radius: 0 0 3px 3px;
}
.jq-select-multiple li.selected {
	background: #08C;
	color: #FFF;
}
.jq-select-multiple li.disabled {
	color: #AAA;
}
.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
	background: #CCC;
	color: #FFF;
}
.jq-select-multiple li.optgroup {
	font-weight: bold;
}
.jq-select-multiple li.option {
	padding-left: 25px;
}
.btn--mod{
    min-width: 100px;
}
.header-nav-search{
    position: relative;
    float: left;
    width: 349px;
    margin-right: 50px;
    padding-top: 9px;
}
.header-nav{
    margin-bottom: 11px;
}
.header-nav-list{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.header-nav-item{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    position: relative;
}
.header-nav-link{

}
.search{
    position: relative;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #e4e4e4;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
    height: 31px;
}
input.search-input{
    border: 0;
    width: 89%;
    float: left;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 3px;
}
input.search-input:focus{
    box-shadow: none;
}
.search-btn{
    position: absolute;
    right: -1px;
    top: -1px;
    width: 31px;
    height: 31px;
    text-align: center;
    line-height: 29px;
    padding:0;
    border: 0;
    cursor: pointer;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
      background: #f7a414; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7a414 0%, #f2731a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f7a414 0%,#f2731a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f7a414 0%,#f2731a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.header-phone{
    position: relative;
    float: left;
    width: 187px;
    margin-right: 15px;
    text-align: center;
    padding-top: 8px;
}
.header-phone-item{
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 1;
    white-space: nowrap;
}
.header-phone-item span{
    font-weight: 300;
}
.header-phone-btn{
    display: block;
    cursor: pointer;
    text-align: center;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #e4e4e4;
    color: #1e81b6;
    font-size: 12px;
    height: 31px;
    line-height: 28px;
    padding:0 15px;
    text-decoration: none;
    background: #fff;
}
.header-phone-btn:hover{
    text-decoration: underline;
}
.header-phone-btn-ico{
    margin-right: 10px;
}
.call-back{
    width: 320px;
    margin-bottom: 7px;
}
.call-back-item{
    margin-bottom: 20px;
}
.call-back-btns{
    text-align: center;
    margin-top: 29px;
}
.btn--big{
    font-size: 18px;
    padding: 12px 25px;
}
.header-conf{
    position: relative;
    float: right;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    border: 2px solid #fa9b15;
    padding: 10px;
    width: 207px;
    height: 81px;
    background: #fff;
}
.header-conf-btn{
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    padding-top: 13px;
}
.header-conf-btn-pic{
    text-align: center;
    margin-bottom: 3px;
}
.header-conf-btn-pic img{
    vertical-align: middle;
    width: 85px;
}
.link-dotted{
    cursor: pointer;
    text-decoration: none;
    border-bottom:1px dotted #1e81b6;
    color: #1e81b6;
}
.link-dotted:hover{
    text-decoration: none;
    border-bottom-color: transparent;
}
.select-auto{
    width: 320px;
    margin-bottom: 5px;
}
.select-auto-item{
    margin-bottom: 9px;
}
.w-100 .jq-selectbox__select{
    width: 100%;
}
.select-mod .jq-selectbox__select{
    height: 41px;
    line-height: 38px;
}
.select-auto-item-btns{
    text-align: center;
    margin-top: 0;
}
.select-auto-table{
    display: table;
    width: 100%;
    table-layout: fixed;
}
.select-auto-td{
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
.select-auto-pic{
    width: 150px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
}
.select-auto-pic img{
    max-width: 100%;
    vertical-align: middle;
}
.select-auto-td:last-child{
    padding-left: 18px;
}
.header-conf-body{
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
}
.header-conf-table{
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}
.header-conf-td{
    display: table-cell;
    vertical-align: middle;
    padding-left: 7px;
    text-align: left;
}
.header-conf-td:first-child{
    width: 72px;
    padding: 0;
    text-align: center;
}
.header-conf-td img{
    max-width: 100%;
    vertical-align: middle;
}
.header-conf-head{
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    max-height: 32px;
    overflow: hidden;
}
.header-conf-head a{
    color: #2b2b2b;
    text-decoration: none;
}
.header-conf-ico{
    cursor: pointer;
    margin-right: 6px;
}
.header-conf-link{
    font-size: 12px;
}
.header-user-bar{
    position: relative;
    float: right;
    width: 127px;
    margin-left: 51px;
    padding-top: 9px;
}
.lang{
    display: inline-block;
    position: relative;
    padding-bottom: 13px;
    padding-left: 31px;
    font-size: 12px;
    line-height: 16px;
}
.lang-pic{
    position: relative;
    float: left;
    margin-left: -32px;
    border: 1px solid #e8e8e8;
    width: 23px;
    line-height: 1;
    margin-top: 1px;
}
.lang-pic img{
    width: 21px;
    vertical-align: top;
}
.drop--w{
    width: 126px;
}
.drop--w:before{
    left: 30px;
}
.lang-menu{
    margin-top: -2px;

}
.lang-menu-item{
    color: #2b2b2b;
    font-size: 12px;
    padding-left: 33px;
    margin-bottom: 14px;
}
.lang-menu-item a{
    text-decoration: none;
}
.lang-menu-item a:hover{
    text-decoration: underline;
}
.lang-menu-item:last-child{
    margin-bottom: 0;
}
.user-bar{
    position: relative;
    margin-bottom: 10px;
}
.user-bar-item{
    float: left;
    text-align: center;
    border: 1px solid #e4e4e4;
    margin-right: -1px;
    height:31px;
    line-height: 28px;
    width: 59px;
    position: relative;
}
.user-bar-item:first-child{
    -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
}
.user-bar-item:last-child{
    -webkit-border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
}
.basket-num{
    text-decoration: none;
    position: relative;
    float: right;
    margin-right: -10px;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    border-radius: 50px 50px 50px 50px;
    width: 21px;
    height: 21px;
    line-height: 21px;
    font-size: 12px;
    background: #f7a414; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7a414 0%, #f2731a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f7a414 0%,#f2731a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f7a414 0%,#f2731a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    margin-left: -7px;
    top: 4px;
}
.user-bar-item:hover{
    background: #fff;
    position: relative;
    border-color: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    z-index:200;
}
.user-bar-drop{
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    position: absolute;
    top: 100%;
    left: -1px;
    width: 127px;
    text-align: left;
    line-height: 16px;
    z-index:200;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
.private{
    padding: 16px 20px;

}
.private-item{
    margin-bottom: 14px;
}
.private-item:last-child{
    margin-bottom: 0;
}
.private-link{
    text-decoration: none;
}
.private-link:hover{
    text-decoration: underline;
}
.user-bar-item:hover:before{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    height: 50%;
    background: #fff;
    z-index: 300;
}
.user-bar-item:first-child:hover{
    -webkit-border-radius: 3px 0px 0px 0px;
    -moz-border-radius: 3px 0px 0px 0px;
    border-radius: 3px 0px 0px 0px;
}
.user-bar-item:last-child:hover{
    -webkit-border-radius: 0px 3px 0px 0px;
    -moz-border-radius: 0px 3px 0px 0px;
    border-radius: 0px 3px 0px 0px;
}
.user-bar-item:hover i,.user-bar-item:hover .basket-num{
    position: relative;
    z-index:301;
}
.user-bar-item:hover .user-bar-drop{
    display: block;
}
.user-bar-drop--mod{
    left: auto;
    right: -11px;
    width: 380px;
}
.table-basket{
    width: 100%;
    table-layout: fixed;
    margin-bottom: 19px;
    margin-top: 11px;
}
.table-basket td{
    padding: 9px 0 9px 9px;
    border-bottom:1px solid #e4e4e4;
    line-height: 20px;
    font-size: 14px;
    vertical-align: middle;
}
.table-basket-w{
    width: 71px;
}
.table-basket-w1{
    width: 177px;
}
.table-basket-w2{
    width: 92px;
}
.ico-del{
    cursor: pointer;
}
.table-basket-pic{
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    text-align: center;
    width: 51px;
    height: 51px;
    line-height: 48px;
    border: 1px solid #e4e4e4;
}
.table-basket-pic img{
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}
.table-basket-link{
    text-decoration: none;
}
.table-basket-link:hover{
    text-decoration: underline;
}
.table-basket-price{
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    color: #2b2b2b;
}
.basket-total{
    padding-bottom: 20px;
    padding-left: 19px;
    padding-right: 19px;

}
.basket-total-left{
    position: relative;
    float: left;
    color: #6a6a6a;
    font-size: 12px;
}
.basket-total-price{
    color: #2b2b2b;
    display: inline-block;
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
}
.basket-total-right{
    position: relative;
    float: right;
}
.btn--blue{
    background: #1e81b6;
    padding-left: 14px;
    padding-right: 14px;
}
.nav{
    margin-bottom: 26px;
    background: #345068;
}
.nav-center{
    width: 1180px;
    margin: 0 auto;
    position: relative;
}
.nav-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: table;
    width: 100%;
}
.nav-item{
    display: table-cell;
    border-right: 1px solid #2d465b;
}
.nav-item:first-child{
    border-left:1px solid #2d465b;
}
.nav-link{
    display: block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    margin:0 -1px;
}
.nav-link:hover,.nav-item:hover .nav-link{
    position: relative;
    text-decoration: none;
    color: #000000;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    z-index:201;
}
.nav-sub{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    padding: 32px 40px 19px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}
.nav-item:hover .nav-sub{
    display: block;
}
.nav-sub:before{
    content: '';
    z-index: 202;
    position: absolute;
    top: 0;
    right:0;
    left: 0;
    height: 20px;
    background: #fff;
}
.nav-center:hover{
    z-index:200;
}
.nav-sub-left{
    position: relative;
    float: left;
    width: 320px;
}
.nav-sub-line{
    position: absolute;
    top: 35px;
    left: 400px;
    bottom: 35px;
    overflow: hidden;
    width: 1px;
    background: #e4e4e4;
}
.nav-search{
    margin-bottom: 33px;
}
.nav-search-head{
    margin-bottom: 7px;
    color: #6a6a6a;
    font-size: 12px;
}
.nav-search-item{
    margin-bottom: 5px;
    padding-right: 10px;
}
.nav-search-item:last-child{
    margin-bottom: 0;
}
.nav-search-link{
    text-decoration: none;
}
.nav-search-link:hover{
    text-decoration: underline;
}
.nav-sub-right{
    position: relative;
    float: right;
    width: 700px;
}
.nav-sub-right-head{
    margin-bottom: 13px;
    font-size: 30px;
    line-height: 1.2;
    margin-top: -5px;
}
.nav-sub-catalog-item{
    position: relative;
    float: left;
    margin-left:20px;
    margin-bottom: 20px;
}
.nav-sub-catalog{
    margin-left: -20px;
}
.cart{
    position: relative;
    width: 220px;
    height: 301px;
}
.cart-body{
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #e4e4e4;
    background: #fff;
    padding: 29px 19px 15px;
    min-height: 301px;
    position: relative;
}
.cart-pic{
    text-align: center;
    overflow: hidden;
    margin-bottom: 16px;
    height: 139px;
}
.cart-pic img{
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}
.cart-name{
    overflow: hidden;
    margin-bottom: 5px;
    color: #1e81b6;
    font-size: 14px;
    height: 40px;
}
.cart-name a{
    text-decoration: none;
}
.cart-name a:hover{
    text-decoration: underline;
}
.cart-rating{
    margin-bottom: 5px;
}
.cart-rating--mod{
    display: inline-block;
    margin-right: 18px;
}
.cart-price{
    float: left;
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
    margin-top: 1px;
}
.cart-btn{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background: #1e81b6;
    width: 31px;
    height: 31px;
    line-height: 30px;
}
.cart-body:hover{
    z-index: 4;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    position: relative;
}
.cart-body-text{
    padding: 19px 15px 0;
    text-align: center;
    color: #6a6a6a;
    font-size: 14px;
}
.cart-body:hover .cart-body-text{
    display: block;
}
.cart-label{
    position: absolute;
    top: -3px;
    left: -3px;
}
.nav-sub-right-brtn{
    margin-top: 8px;
    text-align: center;
}
.btn--midl{
    font-size: 14px;
    padding: 11px 19px;
}
.btn--white{
    background: #fff;
    border: 1px solid #e4e4e4;
    color: #1e81b6;
}
.baner{
    text-align: center;
    margin:15px 0;
}
.baner img{
    max-width: 100%;
    vertical-align: middle;
}
.header-conf-body--satic{
    position: static;
    border: 2px solid #fa9b15;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 13px;
    padding: 14px 0;
}
.nav-search-back{
    font-size: 12px;
}
.nav-search-back i{
    margin-right: 6px;
}
.slideshow{
    position: relative;
    overflow: hidden;
    width: 880px;
    background: #eee;
    height: 351px;
    float: left;
    margin-bottom: 11px;
}
.slideshow-slide{
    position: relative;
    float: left;
    height: 351px;
    width: 100%;
}
.slideshow-slide img{
    max-width: 100%;
}
.slideshow-slide-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 37px 70px 30px;
    height: 100%;
}
.slideshow-slide-title{
    margin-bottom: 33px;
    font-size: 36px;
    line-height: 1.1;
}
.slideshow-slide-table{
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}
.slideshow-slide-td{
    display: table-cell;
    vertical-align: middle;
}
.swiper-container-horizontal .slideshow-wrapper{
    width:20000em;
    overflow: hidden;
    position: relative;
}
.slideshow-prev{
    position: absolute;
    top: 50%;
    left: 0;
    cursor: pointer;
    width: 30px;
    height: 41px;
    line-height: 40px;
    text-align: center;
    -webkit-border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
    background: rgba(255, 255, 255,.8);
    margin-top: -20px;
    z-index: 101;
}
.slideshow-next{
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
    width: 30px;
    height: 41px;
    margin-top: -20px;
    line-height: 40px;
    text-align: center;
    -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
    background: rgba(255, 255, 255,.8);
    z-index: 101;
}
.action{
    position: relative;
    float: right;
    width: 280px;
    margin-bottom: 11px;
}
.cart--mod{
    width: 100%;
    height: 351px;
}
.cart--mod .cart-body{
    min-height: 351px;
    padding-top: 71px;
    padding-left: 29px;
    padding-right: 29px;
}
.cart-label-text{
    color: #fff;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight:bold;
    line-height: 1;
    font-style: normal;
    -webkit-transform: rotate(-45deg);
	-moz-transform:  rotate(-45deg);
	-o-transform:  rotate(-45deg);
	transform: rotate(-45deg);
    padding-bottom: 31px;
    padding-right: 16px;
    padding-top: 10px;
}
.cart--mod  .cart-pic{
    height: 157px;
}
.cart--mod .cart-name{
    height: 20px;
}
.cart--mod .cart-price{
    font-size: 30px;
    margin-top: 5px;
}
.cart-price-old{
    color: #aaaaaa;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    float: left;
    line-height: 1;
    margin-left: 21px;
    margin-top: 15px;
}
.cart-price-old:after{
    content: '';
    position: absolute;
    bottom: 50%;
    -webkit-transform: rotate(-13deg);
	-moz-transform: rotate(-13deg);
	-o-transform:  rotate(-13deg);
	transform: rotate(-13deg);
    height: 1px;
    background: #aaaaaa;
    left: 0;
    width: 100%;
}
.title{
    font-size: 30px;
    margin: 15px 0 0px;
}
.carusel-cart{
    position: relative;
    overflow: hidden;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 30px;
    height: 321px;
}
.carusel-cart-slide{
    position: relative;
    float: left;
    padding:10px 10px;
    width:240px;
}
.swiper-container-horizontal .carusel-cart-wrapper{
    width:20000em;
    position: relative;
}
.slideshow-prev--mod{
    background: rgba(228, 228, 228,.8);
    top: 160px;
    left: 11px;
}
.slideshow-next--mod{
    background: rgba(228, 228, 228,.8);
     top: 160px;
    right: 11px;
    z-index: 199;
}
.swiper-button-disabled{
    display: none;
}
.carusel-cart--mod{
    height: 413px;
    margin-bottom: -62px;
}
.info-tabs{
    margin-bottom: 25px;
}
.info-tabs-menu{
    margin-bottom: 24px;
}
.info-tabs-item{
    float: left;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    background: #e9e9e9;
    color: #000;
    font-size: 18px;
    line-height: 1.15;
    border-right: 1px solid #afafaf;
}
.info-tabs-item:last-child{
    border-right: 0;
    -webkit-border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
}
.info-tabs-item:first-child{
    -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
}
.info-tabs-item.active{
    cursor: default;
    background: #fdd59c;
}
.info-tabs-menu-wrapper{
}
.info-tabs-all{
    float: left;
    font-size: 12px;
    margin-left: 28px;
    margin-top: 13px;
}
.info-tabs-content{

}
.news-anons{
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 15px;
}
.news-anons-item{
    display: table-cell;
    vertical-align: top;
    border-right: 1px solid #e4e4e4;
    padding-right: 43px;
    padding-left: 27px;
    padding-bottom: 7px;
}
.news-anons-item:last-child{
    border-right: 0;
}
.news-anons-item:first-child{
    padding-left: 0;
}
.news-anons-date{
    margin-bottom: 11px;
    color: #6a6a6a;
    font-size: 12px;
}
.news-anons-item p{
    margin: 0;
}
.news-anons-item a{
    text-decoration: none;
}
.news-anons-item a:hover{
    text-decoration: underline;
}
.carusel{
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.carusel-slide{
    position: relative;
    float: left;
    width: 220px;
    height: 221px;
    text-align: center;
    background: #eee;
    margin-right: 20px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}
.carusel-slide img{
    max-width: 100%;
    vertical-align: middle;
}
.carusel-slide:last-child{
    margin-right: 0;
}
.swiper-container-horizontal .carusel-wrapper{
    position: relative;
    width: 20000em;
}
.info-tabs-content > div{
    display: none;
}

.info-tabs-content > div.active{
    display: block;
}
.footer-rss{
    background: #e9e9e9;
}
.footer-rss-center{
   width: 1180px;
    margin:0 auto;
    padding: 10px 0;
}
.footer-rss-head{
    margin-right: 31px;
    color: #000000;
    font-size: 18px;
}
input.footer-rss-input{
    width: 495px;
    padding: 11px;
    vertical-align: middle;
    height: 41px;
    margin-right: 17px;
}
.help-ico{
    margin-right: 12px;
}
.help{
    position: relative;
    float: right;
    font-size: 18px;
    margin-top: 5px;
}
.footer-menu{
    position: relative;
    float: left;
    margin-right: 52px;
    max-width: 215px;
}
.footer-menu-head{
    margin-bottom: 10px;
    color: #6a6a6a;
}
.footer-menu-item{
    margin-bottom: 10px;
}
.footer-menu-link{

}
.footer-right{
    position: relative;
    float: right;
    width: 187px;
    margin-left: 93px;
}
.footer-right-head{
    margin-bottom: 6px;
    color: #6a6a6a;
}
.footer-social{
    margin-top: 16px;
    margin-bottom: 19px;

}
.header-phone--mb{
    margin-bottom: 23px;
}
.footer-social-item{
    margin-right: 7px;
}
.footer-social-item:last-child{
    margin-right: 0;
}
.footer-vidget{
    position: relative;
    float: right;
    width: 220px;
    margin-left: 33px;
    margin-top: 6px;
}
.goggle-play{
    position: relative;
    float: left;
    clear: left;
    margin-top: 66px;
}
.footer-line{
    background: #273c4e;
}
.footer-line-center{
    margin: 0 auto;
    padding:10px 0;
   width: 1180px;
    color: #6f7982;
    font-size: 12px;
     line-height: 20px;
}
.footer-line-copy{
    position: relative;
    float: left;
    max-width: 50%;
}
.carusel-cart-wrapper{
    width: 20000em;
    position: relative;
}
.aisol{
    position: relative;
    float: right;
    margin-left: 15px;
    font-size: 12px;
    color: #6f7982;
    text-decoration: none;
    margin-top: 9px;
}
.aisol img{
    margin-left: 6px;
    vertical-align: middle;
}
.pay-methods{
    text-align: center;
    margin-top: 4px;
}
.pay-methods-item{
    margin: 0 6px;
}
.inactive{
    display: none;
}
.carusel-wrapper{
    position: relative;
    width:20000em;
}
/*catalog*/
.baner-left{
    width: 264px;
    position: relative;
    float: left;
    margin-bottom: 15px;
    margin-top: 7px;
}
.baner-right{
    margin-left: 313px;
}
.pro{
    margin-bottom: 5px;
    margin-top: 15px;
}
.title h1{
    margin: 0;
    font-size: 30px;
    font-weight: normal;
}
.pro-left{
    position: relative;
    float: left;
    width: 321px;
}
.pro-pic{
    overflow: hidden;
    text-align: center;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    padding: 10px;
    height: 299px;
    line-height: 262px;
    margin-bottom: 15px;
}
.pro-pic img{
    max-width: 100%;
    vertical-align: middle;
    max-height: 100%;
}
.pro-pic>div{
    display: none;
}
.pro-pic>div.active{
    display: block;
}
.pro-pic-min{
    margin-bottom: 15px;
    position: relative;
    padding: 0 45px;
}
.pro-pic-min ul{
    position: relative;
    width:20000em;
}
.pro-pic-min-wrapper{
    overflow: hidden;
    position: relative;
}
.pro-pic-min-item{
    position: relative;
    float: left;
    margin-right: 9px;
    width: 71px;
    height: 71px;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
}
.slideshow-prev--mod1{
    background-color: #e9e9e9;
}
.slideshow-next--mod1{
    background-color: #e9e9e9;
}
.pro-pic-min-item.active{
    border-color: #000;
    cursor: default;
}
.pro-right{
    position: relative;
    float: right;
    width: 512px;

}
.pro-right-reviews-link{
    cursor: pointer;
    text-decoration: none;
    color: #1e81b6;
    font-size: 13px;
    border-bottom:1px dashed #1e81b6;
}
.pro-right-reviews-link:hover{
    border-bottom-color:transparent;
}
.pro-text{
    font-weight: 300;
    line-height: 23px;
    margin: 18px 0 25px;
}
.pro-line{
    height: 1px;
    overflow: hidden;
    margin: 7px 0;
    background: #e2e2e2;
}
.pro-line-price{
    font-weight: bold;
    float: left;
    color: #2b2b2b;
    font-size: 30px;
    line-height: 1;
    margin-top: 10px;
}
.pro-btn{
    display: inline-block;
    cursor: pointer;
    padding: 15px 19px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    background: #4a84b5;
    color: #fff;
    border-radius: 3px;
    margin-left: 6px;
    min-width: 158px;
    text-align: center;
    height: 46px;
    border: none;
}
.pro-btn:hover{
    opacity: 0.85;
    text-decoration: none;
    filter: alpha(opacity=85);
}
.pro-btn-wrapper{
    float: right;
    position: relative;
    margin-top: 9px;
    margin-bottom: 9px;
}
.pro-btn--orange{
    background: #f59416;
}
.pro-btn-ico{
    margin-right: 10px;
}
.pro-social{
    font-weight: 300;
    margin: 8px 0;
}
.pro-social img{
    vertical-align: middle;
}
.pro-social-head{
    margin-right: 10px;
}
.pro-delivery{
    margin-bottom: 15px;
    margin-top: 31px;
}
.pro-delivery-left{
    position: relative;
    float: left;
    width: 41%;
}
.pro-delivery-title{
    margin-bottom: 2px;
    font-size: 17px;
    font-weight: 500;
}
.pro-delivery-right{
    margin-left: 43%;
    margin-top: 0;
    padding-left: 2px;
    padding-top: 5px;
}
.pro-delivery-item{
    margin-bottom: 7px;
    color: #000;
}
.pro-delivery-item span{
     color: #a2a2a2;
}
.set{
   background: #f8f8f8;
    border-top: 1px solid #ebebeb;
    border-bottom:1px solid #ebebeb;
    margin-bottom: 34px;
}
.set-center{
    margin: 0 auto;
    position: relative;
    width: 1180px;
    padding: 19px 0 15px;
}
.set-title{
    margin-bottom: 20px;
    color: #2b2b2b;
    font-size: 25px;
}
.set-body{

}
.set-body-item{
    position: relative;
    float: left;
    width: 220px;
}
.cart-name--mb{
    margin-bottom: 9px;
}
.cart-body--mod{
    min-height: 278px;
}
.set-body-sep{
    float: left;
    margin-top: 120px;
    text-align: center;
    font-weight: bold;
    color: #c9c9c9;
    font-size: 23px;
    width: 33px;
    height: 33px;
    line-height: 31px;
    border: 1px solid #d8d8d8;
    border-radius: 100%;
    background: #fff;
    margin: 120px 33px 0;
}
.cart-body--bg{
    background: #f5f5f5;
    text-align: center;
    padding-top: 82px;
}
.cart-price--big{
    text-align: center;
    color: #2b2b2b;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 17px;
    float: none;
}
.deck{
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 60px;
}
.deck p{
    margin-bottom: 25px;

}
.deck-link{
    margin-bottom: 25px;
}
.deck-link-item{
    margin-right: 30px;
    font-size: 15px;
    font-weight: normal;
}
.ico-play{
    display: inline-block;
    margin-right: 13px;
    vertical-align: middle;
    background: url("../img/play.png") no-repeat 0 0;
    width: 31px;
    height: 31px;
}
.ico-eye{
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    background: url("../img/eye.png") no-repeat 0 0;
    width: 31px;
    height: 31px;
}

.pro-pic-min .pro-pic-min-item img {
    width: 100%;
    height: 100%;
}
.search-product-wrapper {
    margin: 0px -10px 0px -10px;
}
.search-product-wrapper .cart {
    float: left;
    width: 220px;
    margin: 0px 10px 20px 10px;
}

.margin-top-10 {
    margin-top: 10px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}

.baner-left {
    height: 446px;
    width: 264px;
    background: #d7d7d7;
    border-radius: 3px;
}


/* Icons
==============================================================================*/
.ico-0015-plashka, .ico-0001-visa, .ico-0000-post, .ico-0003-qiwi, .ico-0027-layer-29,
.ico-0002-yd, .ico-0008-inst, .ico-0009-f, .ico-0010-yt, .ico-0011-ok,
.ico-0013-molot, .ico-0022-plus, .ico-0023-refresh, .ico-0014-bas, .ico-0020-bas,
.ico-0016-star-orange, .ico-0017-star, .ico-0025-search, .ico-0026-arr-t, .ico-0021-user,
.ico-0006-arr-b, .ico-0024-phone, .ico-0005-x, .ico-0007-x, .ico-0028-mark,
.ico-0004-arr-l, .ico-0018-arr-r, .ico-0019-arr-l
{ display: inline-block; background: url('../img/sprite.png') no-repeat; vertical-align: middle; }
.ico-0015-plashka { background-position: -2px -0px; width: 87px; height: 87px; }
.ico-0001-visa { background-position: -2px -89px; width: 79px; height: 21px; }
.ico-0000-post { background-position: -2px -112px; width: 60px; height: 34px; }
.ico-0003-qiwi { background-position: -2px -148px; width: 60px; height: 23px; }
.ico-0027-layer-29 { background-position: -2px -173px; width: 59px; height: 59px; }
.ico-0002-yd { background-position: -2px -234px; width: 54px; height: 23px; }
.ico-0008-inst { background-position: -2px -259px; width: 32px; height: 31px; }
.ico-0009-f { background-position: -36px -259px; width: 32px; height: 31px; }
.ico-0010-yt { background-position: -2px -292px; width: 32px; height: 31px; }
.ico-0011-ok { background-position: -36px -292px; width: 32px; height: 31px; }
.ico-0013-molot { background-position: -2px -325px; width: 27px; height: 31px; }
.ico-0022-plus { background-position: -64px -112px; width: 21px; height: 21px; }
.ico-0023-refresh { background-position: -64px -135px; width: 21px; height: 21px; }
.ico-0014-bas { background-position: -64px -158px; width: 19px; height: 16px; }
.ico-0020-bas { background-position: -63px -176px; width: 19px; height: 16px; }
.ico-0016-star-orange { background-position: -63px -194px; width: 17px; height: 16px; }
.ico-0017-star { background-position: -63px -212px; width: 17px; height: 16px; }
.ico-0025-search { background-position: -63px -230px; width: 16px; height: 16px; }
.ico-0026-arr-t { background-position: -58px -248px; width: 16px; height: 10px; }
.ico-0021-user { background-position: -70px -260px; width: 15px; height: 15px; }
.ico-0006-arr-b { background-position: -70px -277px; width: 14px; height: 8px; }
.ico-0024-phone { background-position: -70px -287px; width: 14px; height: 16px; }
.ico-0005-x { background-position: -76px -248px; width: 11px; height: 11px; }
.ico-0007-x { background-position: -70px -305px; width: 11px; height: 11px; }
.ico-0028-mark { background-position: -70px -318px; width: 11px; height: 15px; }
.ico-0004-arr-l { background-position: -31px -325px; width: 10px; height: 7px; }
.ico-0018-arr-r { background-position: -43px -325px; width: 10px; height: 17px; }
.ico-0019-arr-l { background-position: -55px -325px; width: 10px; height: 17px; }


/* Screens
==============================================================================*/
@media only screen  and (max-width: 1000px),
only screen and (max-device-width: 1000px){}

/* Retina
==============================================================================*/
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {}
