.page-aside-section .list-group > .active {background-color: azure;}

.page-aside-section .list-group .page-aside-title:hover {cursor: pointer;}

.page-aside-section .fa.depth-marker {
    position: relative;
    top: -3px;
    margin-right: 3px;
    font-size: .3em;
}

.page-aside-section .page-aside-title {
    position: relative;
}

.page-aside-section .chevron {
    position: absolute;
    right: 20px;
}

.page-aside-section .green {
    background-color: rgba(58, 169, 158,0.4);
}