<div class="form-group">
	<label class='control-label'> <%= label %> </label>
	<textarea class="field form-control" data-type="<%= type %>" style='min-height: 200px' id='<%= name %>'><%= value %></textarea>
</div>