.text-violet {
    color: #3071a9;
}

hr {
    color: grey;
    background-color: grey;
    height: 2px;
}

.transport-company-block {
    position: relative;
    margin-bottom: 3px;
    padding-right: 134px;
    max-width: 750px;
    min-width: 330px;
}

.transport-company-block .transport-company-info {
    background-color: #e2dede;
    border-radius: 3px;
}

.transport-company-block .weigh-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 130px;
}

.transport-company-block .text-wrapper {
    display: inline-block;
    padding: 8px 20px;
}

.edit-block {
    position: relative;
    width:200px;
    padding-right:50px;
}

.edit-block .action-buttons {
    position: absolute;
    top:0;
    right:0;
    width:50px;
}

.edit-block .edit-button, .edit-block .save-button, .edit-block .cancel-button {
    margin: 0 3px;
    color: #3aa99e;
    cursor: pointer;
}