.text-violet {
    color: #3071a9;
}

.checkbox-custom label::before {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

hr.big-page-line {
    color: grey;
    background-color: grey;
    height: 2px;
}

.weight-status-block {
    position: relative;
    margin-bottom: 3px;
    padding-right: 234px;
    width: 430px;
}

.weight-status-block .grey {
    background-color: #e2dede;
    border-radius: 3px;
}

.weight-status-block #button-prepare-storage-request, .weight-status-block #button-cancel-storage-request {
    position: absolute;
    top: 0;
    right: 0;
    width: 230px;
}

.weight-status-block .text-wrapper {
    display: inline-block;
    padding: 8px 20px;
}

.edit-block {
    position: relative;
    padding-right: 50px;
}

.edit-block.short {
    max-width: 200px;
}

.edit-block .action-buttons {
    position: absolute;
    top:0;
    right:0;
    width:50px;
}

.edit-block .edit-button, .edit-block .save-button, .edit-block .cancel-button {
    margin: 0 3px;
    color: #3aa99e;
    cursor: pointer;
}

/* Стилизация placeholder-ов */
.edit-block .property-field::-webkit-input-placeholder { color: #c55; font-style: italic; }
.edit-block .property-field::-moz-placeholder { color: #c55; font-style: italic; }
.edit-block .property-field:-moz-placeholder { color: #c55; font-style: italic; }
.edit-block .property-field:-ms-input-placeholder { color: #c55; font-style: italic; }
.edit-block .property-field::placeholder { color: #c55; font-style: italic; }
.edit-block .property-field:focus::-webkit-input-placeholder { color: transparent; }
.edit-block .property-field:focus::-moz-placeholder { color: transparent; }
.edit-block .property-field:focus:-moz-placeholder { color: transparent; }
.edit-block .property-field:focus:-ms-input-placeholder { color: transparent; }
.edit-block .property-field:focus::placeholder { color: transparent; }