.page-login:before {
  background-image: url("../images/register-bg.jpg");
}
.page-login form {
  width: 340px;
  margin: 30px 0;
}
.page-login form a {
  margin-left: 20px;
}
@media (max-width: 767px) {
  .page-login form {
    width: auto;
  }
}
.page-login .form-material .floating-label, .page-login .form-material .form-control, .page-login .form-material .form-control:focus+.floating-label {
    color: #fff;
}