.bg-return-green {
    background-color: rgba(136, 255, 89, 0.7) !important;
}

.no-processed {
    opacity: .7;
}

#print-act {
    position: relative;
}

#print-return {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #6e6e6e;
}

.box-return {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    width: 100%;
}

.box-body-return {
    padding: 10px;
}

.table-bordered-return {
    border: 1px solid #f4f4f4;
}

.wrap-input {
    padding-right: 30px;
    position: relative;
}

.get-any {
    color: #a8a8a8;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -3px;
}

.get-any.get-data-right{
    position: inherit;
    display: inline;
}

.add-item {
    cursor: pointer;
    font-size: 20px;
}

.inline-return {
    display: inline;
    margin-left: 20px;
}