<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="language" content="en" />
        <link href="./assets/942d6f/css/bootstrap.css" rel="stylesheet">
<link href="./assets/277ad5f2/style.css" rel="stylesheet">
<script src="./assets/4ba728e4/jquery.js"></script>
<script src="./assets/942d6f/js/bootstrap.js"></script>
<script src="./assets/8a13c6e8/jssearch.js"></script>    <title>Log, common\models\Log - Yii Framework 2.0 API Documentation</title>
</head>
<body>

<div class="wrap">
    <nav id="w12" class="navbar-inverse navbar-fixed-top navbar" role="navigation"><div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#w12-collapse"><span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span></button><a class="navbar-brand" href="./index.html">Yii Framework 2.0 API Documentation</a></div><div id="w12-collapse" class="collapse navbar-collapse"><ul id="w13" class="navbar-nav nav"><li><a href="./index.html">Class reference</a></li>
<li><a href="./guide-README.html">Guide</a></li></ul><div class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input id="searchbox" type="text" class="form-control" placeholder="Search">
  </div>
</div>
</div></nav>
    <div id="search-resultbox" style="display: none;" class="modal-content">
        <ul id="search-results">
        </ul>
    </div>

    
<div class="row">
    <div class="col-md-3">
                <div id="navigation" class="list-group"><a class="list-group-item" href="#navigation-7" data-toggle="collapse" data-parent="#navigation">common\assets\notie <b class="caret"></b></a><div id="navigation-7" class="submenu panel-collapse collapse"><a class="list-group-item" href="./common-assets-notie-notieasset.html">NotieAsset</a></div>
<a class="list-group-item active" href="#navigation-8" data-toggle="collapse" data-parent="#navigation">common\models <b class="caret"></b></a><div id="navigation-8" class="submenu panel-collapse collapse in"><a class="list-group-item active" href="./common-models-log.html">Log</a>
<a class="list-group-item" href="./common-models-logactiverecord.html">LogActiveRecord</a>
<a class="list-group-item" href="./common-models-user.html">User</a></div>
<a class="list-group-item" href="#navigation-9" data-toggle="collapse" data-parent="#navigation">common\models\user <b class="caret"></b></a><div id="navigation-9" class="submenu panel-collapse collapse"><a class="list-group-item" href="./common-models-user-user.html">User</a>
<a class="list-group-item" href="./common-models-user-userquery.html">UserQuery</a>
<a class="list-group-item" href="./common-models-user-usersearch.html">UserSearch</a></div>
<a class="list-group-item" href="#navigation-10" data-toggle="collapse" data-parent="#navigation">common\rbac <b class="caret"></b></a><div id="navigation-10" class="submenu panel-collapse collapse"><a class="list-group-item" href="./common-rbac-authorrule.html">AuthorRule</a></div>
<a class="list-group-item" href="#navigation-11" data-toggle="collapse" data-parent="#navigation">common\widgets <b class="caret"></b></a><div id="navigation-11" class="submenu panel-collapse collapse"><a class="list-group-item" href="./common-widgets-alert.html">Alert</a>
<a class="list-group-item" href="./common-widgets-alertnotie.html">AlertNotie</a></div></div>    </div>
    <div class="col-md-9 api-content" role="main">
        <h1>Class common\models\Log</h1>
<div id="nav">
    <a href="index.html">All Classes</a>
                | <a href="#methods">Methods</a>
            </div>

<table class="summaryTable docClass table table-bordered">
    <colgroup>
        <col class="col-name" />
        <col class="col-value" />
    </colgroup>
            <tr><th>Inheritance</th><td><a href="common-models-log.html">common\models\Log</a> &raquo;
yii\db\ActiveRecord</td></tr>
                                        </table>

<div id="classDescription">
    <p><strong>Модель для таблицы <code>{{%log}}</code>.</strong></p>
    <p>Данная таблица хранит информацию обо всех действиях, совершенных с объектами ActiveRecord.
Действия записываются если класс объекта унаследован от <a href="common-models-logactiverecord.html">common\models\LogActiveRecord</a></p>

    </div>

<a id="properties"></a>

<a id="methods"></a>

<div class="summary doc-method">
<h2>Public Methods</h2>

<p><a href="#" class="toggle">Hide inherited methods</a></p>

<table class="summary-table table table-striped table-bordered table-hover">
<colgroup>
    <col class="col-method" />
    <col class="col-description" />
    <col class="col-defined" />
</colgroup>
<tr>
  <th>Method</th><th>Description</th><th>Defined By</th>
</tr>
        <tr id="attributeLabels()">
        <td><a href="common-models-log.html#attributeLabels()-detail">attributeLabels()</a></td>
        <td></td>
        <td><a href="common-models-log.html">common\models\Log</a></td>
    </tr>
            <tr id="getUser()">
        <td><a href="common-models-log.html#getUser()-detail">getUser()</a></td>
        <td>Пользователь совершивший действие</td>
        <td><a href="common-models-log.html">common\models\Log</a></td>
    </tr>
            <tr id="rules()">
        <td><a href="common-models-log.html#rules()-detail">rules()</a></td>
        <td></td>
        <td><a href="common-models-log.html">common\models\Log</a></td>
    </tr>
            <tr id="tableName()">
        <td><a href="common-models-log.html#tableName()-detail">tableName()</a></td>
        <td></td>
        <td><a href="common-models-log.html">common\models\Log</a></td>
    </tr>
    </table>
</div>

<a id="events"></a>

<a id="constants"></a>

<h2>Method Details</h2>

<div class="method-doc">

    <div class="detail-header h3" id="attributeLabels()-detail">
        <a href="#" class="tool-link" title="go to top"><span class="glyphicon glyphicon-arrow-up"></span></a>
        <a class="tool-link hash" href="common-models-log.html#attributeLabels()-detail" title="direct link to this method"><span class="glyphicon icon-hash"></span></a>
        
        attributeLabels()
        <span class="detail-header-tag small">
            public            method
                    </span>
    </div>

    <div class="doc-description">
        <p><strong></strong></p>

        
            </div>

    <table class="detail-table table table-striped table-bordered table-hover">
        <tr><td colspan="3" class="signature">void <strong><a href="common-models-log.html#attributeLabels()-detail">attributeLabels</a></strong><span style="color: #0000BB"></span><span style="color: #007700">(&nbsp;)</span></td></tr>
            </table>

<!--	-->

    <div class="detail-header h3" id="getUser()-detail">
        <a href="#" class="tool-link" title="go to top"><span class="glyphicon glyphicon-arrow-up"></span></a>
        <a class="tool-link hash" href="common-models-log.html#getUser()-detail" title="direct link to this method"><span class="glyphicon icon-hash"></span></a>
        
        getUser()
        <span class="detail-header-tag small">
            public            method
                    </span>
    </div>

    <div class="doc-description">
        <p><strong>Пользователь совершивший действие</strong></p>

        
            </div>

    <table class="detail-table table table-striped table-bordered table-hover">
        <tr><td colspan="3" class="signature">\yii\db\ActiveQuery <strong><a href="common-models-log.html#getUser()-detail">getUser</a></strong><span style="color: #0000BB"></span><span style="color: #007700">(&nbsp;)</span></td></tr>
                                                <tr>
                  <th class="param-name-col">return</th>
                  <td class="param-type-col">\yii\db\ActiveQuery</td>
                  <td class="param-desc-col"><p>Пользователь</p>
</td>
                </tr>
                                    </table>

<!--	-->

    <div class="detail-header h3" id="rules()-detail">
        <a href="#" class="tool-link" title="go to top"><span class="glyphicon glyphicon-arrow-up"></span></a>
        <a class="tool-link hash" href="common-models-log.html#rules()-detail" title="direct link to this method"><span class="glyphicon icon-hash"></span></a>
        
        rules()
        <span class="detail-header-tag small">
            public            method
                    </span>
    </div>

    <div class="doc-description">
        <p><strong></strong></p>

        
            </div>

    <table class="detail-table table table-striped table-bordered table-hover">
        <tr><td colspan="3" class="signature">void <strong><a href="common-models-log.html#rules()-detail">rules</a></strong><span style="color: #0000BB"></span><span style="color: #007700">(&nbsp;)</span></td></tr>
            </table>

<!--	-->

    <div class="detail-header h3" id="tableName()-detail">
        <a href="#" class="tool-link" title="go to top"><span class="glyphicon glyphicon-arrow-up"></span></a>
        <a class="tool-link hash" href="common-models-log.html#tableName()-detail" title="direct link to this method"><span class="glyphicon icon-hash"></span></a>
        
        tableName()
        <span class="detail-header-tag small">
            public            method
                    </span>
    </div>

    <div class="doc-description">
        <p><strong></strong></p>

        
            </div>

    <table class="detail-table table table-striped table-bordered table-hover">
        <tr><td colspan="3" class="signature">void <strong><a href="common-models-log.html#tableName()-detail">tableName</a></strong><span style="color: #0000BB"></span><span style="color: #007700">(&nbsp;)</span></td></tr>
            </table>

<!--	-->
</div>
        </div>
</div>

<script type="text/javascript">
    /*<![CDATA[*/
    $("a.toggle").on('click', function () {
        var $this = $(this);
        if ($this.hasClass('properties-hidden')) {
            $this.text($this.text().replace(/Show/,'Hide'));
            $this.parents(".summary").find(".inherited").show();
            $this.removeClass('properties-hidden');
        } else {
            $this.text($this.text().replace(/Hide/,'Show'));
            $this.parents(".summary").find(".inherited").hide();
            $this.addClass('properties-hidden');
        }

        return false;
    });
    /*
     $(".sourceCode a.show").toggle(function () {
     $(this).text($(this).text().replace(/show/,'hide'));
     $(this).parents(".sourceCode").find("div.code").show();
     },function () {
     $(this).text($(this).text().replace(/hide/,'show'));
     $(this).parents(".sourceCode").find("div.code").hide();
     });
     $("a.sourceLink").click(function () {
     $(this).attr('target','_blank');
     });
     */
    /*]]>*/
</script>


</div>

<footer class="footer">
        <p class="pull-right"><small>Page generated on Tue, 02 Feb 2016 16:51:03 +0000</small></p>
    Powered by <a href="http://www.yiiframework.com/" rel="external">Yii Framework</a></footer>

<script type="text/javascript">jQuery(document).ready(function () {
    var shiftWindow = function () { scrollBy(0, -50) };
    if (location.hash) shiftWindow();
    window.addEventListener("hashchange", shiftWindow);
var element = document.createElement("script");
element.src = "./jssearch.index.js";
document.body.appendChild(element);

var searchBox = $('#searchbox');

// search when typing in search field
searchBox.on("keyup", function(event) {
    var query = $(this).val();

    if (query == '' || event.which == 27) {
        $('#search-resultbox').hide();
        return;
    } else if (event.which == 13) {
        var selectedLink = $('#search-resultbox a.selected');
        if (selectedLink.length != 0) {
            document.location = selectedLink.attr('href');
            return;
        }
    } else if (event.which == 38 || event.which == 40) {
        $('#search-resultbox').show();

        var selected = $('#search-resultbox a.selected');
        if (selected.length == 0) {
            $('#search-results').find('a').first().addClass('selected');
        } else {
            var next;
            if (event.which == 40) {
                next = selected.parent().next().find('a').first();
            } else {
                next = selected.parent().prev().find('a').first();
            }
            if (next.length != 0) {
                var resultbox = $('#search-results');
                var position = next.position();

//              TODO scrolling is buggy and jumps around
//                resultbox.scrollTop(Math.floor(position.top));
//                console.log(position.top);

                selected.removeClass('selected');
                next.addClass('selected');
            }
        }

        return;
    }
    $('#search-resultbox').show();
    $('#search-results').html('<li><span class="no-results">No results</span></li>');

    var result = jssearch.search(query);

    if (result.length > 0) {
        var i = 0;
        var resHtml = '';

        for (var key in result) {
            if (i++ > 20) {
                break;
            }
            resHtml = resHtml +
            '<li><a href="' + result[key].file.u.substr(3) +'"><span class="title">' + result[key].file.t + '</span>' +
            '<span class="description">' + result[key].file.d + '</span></a></li>';
        }
        $('#search-results').html(resHtml);
    }
});

// hide the search results on ESC
$(document).on("keyup", function(event) { if (event.which == 27) { $('#search-resultbox').hide(); } });
// hide search results on click to document
$(document).bind('click', function (e) { $('#search-resultbox').hide(); });
// except the following:
searchBox.bind('click', function(e) { e.stopPropagation(); });
$('#search-resultbox').bind('click', function(e) { e.stopPropagation(); });

});</script></body>
</html>
