<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="language" content="en" />
        <link href="./assets/942d6f/css/bootstrap.css" rel="stylesheet">
<link href="./assets/277ad5f2/style.css" rel="stylesheet">
<script src="./assets/4ba728e4/jquery.js"></script>
<script src="./assets/942d6f/js/bootstrap.js"></script>
<script src="./assets/8a13c6e8/jssearch.js"></script>    <title>Yii Framework 2.0 API Documentation</title>
</head>
<body>

<div class="wrap">
    <nav id="w82" class="navbar-inverse navbar-fixed-top navbar" role="navigation"><div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#w82-collapse"><span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span></button><a class="navbar-brand" href="./index.html">Yii Framework 2.0 API Documentation</a></div><div id="w82-collapse" class="collapse navbar-collapse"><ul id="w83" class="navbar-nav nav"><li><a href="./index.html">Class reference</a></li>
<li><a href="./guide-README.html">Guide</a></li></ul><div class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input id="searchbox" type="text" class="form-control" placeholder="Search">
  </div>
</div>
</div></nav>
    <div id="search-resultbox" style="display: none;" class="modal-content">
        <ul id="search-results">
        </ul>
    </div>

    
<div class="row">
    <div class="col-md-3">
                <div id="navigation" class="list-group"><a class="list-group-item" href="#navigation-77" data-toggle="collapse" data-parent="#navigation">common\assets\notie <b class="caret"></b></a><div id="navigation-77" class="submenu panel-collapse collapse"><a class="list-group-item" href="./common-assets-notie-notieasset.html">NotieAsset</a></div>
<a class="list-group-item" href="#navigation-78" data-toggle="collapse" data-parent="#navigation">common\models <b class="caret"></b></a><div id="navigation-78" class="submenu panel-collapse collapse"><a class="list-group-item" href="./common-models-log.html">Log</a>
<a class="list-group-item" href="./common-models-logactiverecord.html">LogActiveRecord</a>
<a class="list-group-item" href="./common-models-user.html">User</a></div>
<a class="list-group-item" href="#navigation-79" data-toggle="collapse" data-parent="#navigation">common\models\user <b class="caret"></b></a><div id="navigation-79" class="submenu panel-collapse collapse"><a class="list-group-item" href="./common-models-user-user.html">User</a>
<a class="list-group-item" href="./common-models-user-userquery.html">UserQuery</a>
<a class="list-group-item" href="./common-models-user-usersearch.html">UserSearch</a></div>
<a class="list-group-item" href="#navigation-80" data-toggle="collapse" data-parent="#navigation">common\rbac <b class="caret"></b></a><div id="navigation-80" class="submenu panel-collapse collapse"><a class="list-group-item" href="./common-rbac-authorrule.html">AuthorRule</a></div>
<a class="list-group-item" href="#navigation-81" data-toggle="collapse" data-parent="#navigation">common\widgets <b class="caret"></b></a><div id="navigation-81" class="submenu panel-collapse collapse"><a class="list-group-item" href="./common-widgets-alert.html">Alert</a>
<a class="list-group-item" href="./common-widgets-alertnotie.html">AlertNotie</a></div></div>    </div>
    <div class="col-md-9 api-content" role="main">
        <h1>Class Reference</h1>

<table class="summaryTable docIndex table table-bordered table-striped table-hover">
    <colgroup>
        <col class="col-package" />
        <col class="col-class" />
        <col class="col-description" />
    </colgroup>
    <tr>
        <th>Class</th>
        <th>Description</th>
    </tr>
    <tr>
        <td><a href="common-assets-notie-notieasset.html">common\assets\notie\NotieAsset</a></td>
        <td>JavaScript плагин уведомлений <a href="https://jaredreich.com/projects/notie.js/">notie.js</a></td>
    </tr>
    <tr>
        <td><a href="common-models-log.html">common\models\Log</a></td>
        <td>Модель для таблицы <code>{{%log}}</code>.</td>
    </tr>
    <tr>
        <td><a href="common-models-logactiverecord.html">common\models\LogActiveRecord</a></td>
        <td>Чтобы писать логи в <code>{{%log}}</code> необходимо унаследовать класс объекта ActiveRecord от <a href="common-models-logactiverecord.html">common\models\LogActiveRecord</a></td>
    </tr>
    <tr>
        <td><a href="common-models-user.html">common\models\User</a></td>
        <td>Общая модель пользователя</td>
    </tr>
    <tr>
        <td><a href="common-models-user-user.html">common\models\user\User</a></td>
        <td>Модель для таблицы <code>{{%user}}</code>.</td>
    </tr>
    <tr>
        <td><a href="common-models-user-userquery.html">common\models\user\UserQuery</a></td>
        <td>This is the ActiveQuery class for <a href="common-models-user-user.html">common\models\user\User</a>.</td>
    </tr>
    <tr>
        <td><a href="common-models-user-usersearch.html">common\models\user\UserSearch</a></td>
        <td>UserSearch represents the model behind the search form about <code>\common\models\user\User</code>.</td>
    </tr>
    <tr>
        <td><a href="common-rbac-authorrule.html">common\rbac\AuthorRule</a></td>
        <td>Проверка author_id на соответствие с пользователем</td>
    </tr>
    <tr>
        <td><a href="common-widgets-alert.html">common\widgets\Alert</a></td>
        <td>Alert widget renders a message from session flash. All flash messages are displayed
in the sequence they were assigned using setFlash. You can set message as following:</td>
    </tr>
    <tr>
        <td><a href="common-widgets-alertnotie.html">common\widgets\AlertNotie</a></td>
        <td>Виджет вывода сообщения из сессии. Используется плагин <a href="common-assets-notie-notieasset.html">common\assets\notie\NotieAsset</a>.</td>
    </tr>
</table>
    </div>
</div>

<script type="text/javascript">
    /*<![CDATA[*/
    $("a.toggle").on('click', function () {
        var $this = $(this);
        if ($this.hasClass('properties-hidden')) {
            $this.text($this.text().replace(/Show/,'Hide'));
            $this.parents(".summary").find(".inherited").show();
            $this.removeClass('properties-hidden');
        } else {
            $this.text($this.text().replace(/Hide/,'Show'));
            $this.parents(".summary").find(".inherited").hide();
            $this.addClass('properties-hidden');
        }

        return false;
    });
    /*
     $(".sourceCode a.show").toggle(function () {
     $(this).text($(this).text().replace(/show/,'hide'));
     $(this).parents(".sourceCode").find("div.code").show();
     },function () {
     $(this).text($(this).text().replace(/hide/,'show'));
     $(this).parents(".sourceCode").find("div.code").hide();
     });
     $("a.sourceLink").click(function () {
     $(this).attr('target','_blank');
     });
     */
    /*]]>*/
</script>


</div>

<footer class="footer">
        <p class="pull-right"><small>Page generated on Tue, 02 Feb 2016 16:51:03 +0000</small></p>
    Powered by <a href="http://www.yiiframework.com/" rel="external">Yii Framework</a></footer>

<script type="text/javascript">jQuery(document).ready(function () {
    var shiftWindow = function () { scrollBy(0, -50) };
    if (location.hash) shiftWindow();
    window.addEventListener("hashchange", shiftWindow);
var element = document.createElement("script");
element.src = "./jssearch.index.js";
document.body.appendChild(element);

var searchBox = $('#searchbox');

// search when typing in search field
searchBox.on("keyup", function(event) {
    var query = $(this).val();

    if (query == '' || event.which == 27) {
        $('#search-resultbox').hide();
        return;
    } else if (event.which == 13) {
        var selectedLink = $('#search-resultbox a.selected');
        if (selectedLink.length != 0) {
            document.location = selectedLink.attr('href');
            return;
        }
    } else if (event.which == 38 || event.which == 40) {
        $('#search-resultbox').show();

        var selected = $('#search-resultbox a.selected');
        if (selected.length == 0) {
            $('#search-results').find('a').first().addClass('selected');
        } else {
            var next;
            if (event.which == 40) {
                next = selected.parent().next().find('a').first();
            } else {
                next = selected.parent().prev().find('a').first();
            }
            if (next.length != 0) {
                var resultbox = $('#search-results');
                var position = next.position();

//              TODO scrolling is buggy and jumps around
//                resultbox.scrollTop(Math.floor(position.top));
//                console.log(position.top);

                selected.removeClass('selected');
                next.addClass('selected');
            }
        }

        return;
    }
    $('#search-resultbox').show();
    $('#search-results').html('<li><span class="no-results">No results</span></li>');

    var result = jssearch.search(query);

    if (result.length > 0) {
        var i = 0;
        var resHtml = '';

        for (var key in result) {
            if (i++ > 20) {
                break;
            }
            resHtml = resHtml +
            '<li><a href="' + result[key].file.u.substr(3) +'"><span class="title">' + result[key].file.t + '</span>' +
            '<span class="description">' + result[key].file.d + '</span></a></li>';
        }
        $('#search-results').html(resHtml);
    }
});

// hide the search results on ESC
$(document).on("keyup", function(event) { if (event.which == 27) { $('#search-resultbox').hide(); } });
// hide search results on click to document
$(document).bind('click', function (e) { $('#search-resultbox').hide(); });
// except the following:
searchBox.bind('click', function(e) { e.stopPropagation(); });
$('#search-resultbox').bind('click', function(e) { e.stopPropagation(); });

});</script></body>
</html>
